{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Your Subscription Options</h1>
    <p>You don't currently have an active subscription. Please choose one of the following:</p>
    <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        {% for option in subscription_options %}
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="radio"
                    name="subscription"
                    value="{{ option.id }}"
                    id="{{ option.id }}">
                <label class="form-check-label" for="{{ option.id }}">
                    {% if option.subscription_months == 1 %}
                        1 Month: 
                    {% else %}
                        {{ option.subscription_months }} Months: 
                    {% endif %}
                    £{{ option.subscription_price }}
                </label>
            </div>
        {% endfor %}

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="submit" id="submit" disabled>
        </div>

    </form>
{% endblock %}

{% block postloadjs %}
    <script>
        $('input:radio[name="subscription"]').change(
            function() {
                $('#submit').prop('disabled', false);
            }
        );
    </script>
{% endblock %}
