{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Your Subscription Options</h1>
    <p>You don't currently have an active subscription. Please choose one of the following:</p>
    <form method="POST" action="/checkout/">
        {% csrf_token %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="1_month" id="1_month" value="10">
            <label class="form-check-label" for="1_month">
                1 Month: £10
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="3_month" id="3_month" value="25">
            <label class="form-check-label" for="3_month">
                3 Months: £25
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="12_month" id="12_month" value="90">
            <label class="form-check-label" for="12_month">
                12 Months: £90
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="submit">
        </div>

    </form>
{% endblock %}

