{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if not error %}
    <div class="row">
      <div class="col text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Contractor Tax Calculator!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="lead mb-4">
          If you are a busy IT contractor considering an international move then this tax calculator is for you! 
        </p>
        <p class="lead mb-4">
          Simply answer a few questions to see what your take-home pay will be in multiple countries, so you can make the right decision easily and quickly.
        </p>
        <p class="lead mb-4">To use the calculator, all you need to do is:</p>
        <ul class="list-group">
          <li class="list-group-item lead"><i class="fas fa-file-signature"></i> Register</li>
          <li class="list-group-item lead"><i class="fas fa-user"></i> Login</li>
          <li class="list-group-item lead"><i class="fas fa-check-double"></i> Select jurisdictions</li>
          <li class="list-group-item lead"><i class="fas fa-list-ul"></i> Complete the form</li>
          <li class="list-group-item lead"><i class="fas fa-calculator"></i> View calculations</li>
        </ul>
      </div>
    </div>
    {% if not request.user.is_authenticated %}
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href='{% url 'account_login' %}'">Login</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='{% url 'account_signup' %}'">Register</button>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

