{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if not error %}
        <!-- Page Title -->
            <section>
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-5 fw-bold text-body-emphasis">Checkout</h1>
                    </div>
                </div>
            </section>
        <!-- End Page Title -->

        <div class="row">
            <!-- Subscription Summary -->
                <section>
                    <div class="col-12 col-lg 6 border border-dark">
                        <table class="table">
                            <tr>
                                <th scope="col" colspan="2">
                                    <p class="h5">Subscription Purchase Summary</p>
                                </th>
                            </tr>

                            <tr>
                                <th scope="row">Subscription Length</th>
                                <td>{{ subscription_months }} month(s)</td>
                            </tr>

                            <tr>
                                <th scope="row">Subtotal</th>
                                <td>{{ subscription_price|floatformat:2 }}</td>
                            </tr>

                            <tr>
                                <th scope="row">VAT</th>
                                <td>{{ vat|floatformat:2 }}</td>
                            </tr>

                            <tr>
                                <th scope="row">Total</th>
                                <td>{{ total|floatformat:2 }}</td>
                            </tr>
                        </table>
                    </div>
                </section>
            <!-- End Subscription Summary -->

            <!-- Checkout Form -->
                <div class="col-12 col-lg-6">
                    <p class="lead text-center">Please fill out the form below to complete your order</p>
                    <form action="{% url 'confirm_checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <input
                            type="hidden"
                            value="{{ subscription_option_id }}"
                            name="subscription_option_id"
                            id="subscription_option_id">
                        <input type="hidden" value="{{ payment_id }}" name="payment_id" id="payment_id">
                        <input type="hidden" value="" name="payment_method_id" id="payment_method_id">

                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label text-black">Billing</legend>
                            <div class="mb-3" id="address-element"></div>
                            <!--<p>Country</p>
                            <label class="form-check-label" for="country"></label>
                            <input class="form-control" type="text" id="country" name="country">

                            <p>Postcode</p>
                            <label class="form-check-label" for="postcode"></label>
                            <input class="form-control" type="text" id="postcode" name="postcode">
                            
                            <p>Town or city</p>
                            <label class="form-check-label" for="town_or_city"></label>
                            <input class="form-control" type="text" id="town_or_city" name="town_or_city">

                            <p>Street Address 1</p>
                            <label class="form-check-label" for="street_address1"></label>
                            <input class="form-control" type="text" id="street_address1" name="street_address1">
                            
                            <p>Street Address 2</p>
                            <label class="form-check-label" for="street_address2"></label>
                            <input class="form-control" type="text" id="street_address2" name="street_address1">
                            
                            <p>County</p>
                            <label class="form-check-label" for="county"></label>
                            <input class="form-control" type="text" id="county" name="county">-->
                        </fieldset>

                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label text-black">Payment</legend>
                            <div class="mb-3" id="card-element"></div>
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        </fieldset>

                        <div class="submit-button text-center mt-5 mb-2">
                            <button id="submit-button" class="btn btn-black rounded-0" disabled=true>
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>£{{ total|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </form>
                </div>
            <!-- End Checkout Form -->
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret_key|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}