.content-container {
    margin-top: 80px; 
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.toast {
    max-width: none;
    margin-bottom: 10px;
    box-shadow: none;
}

.hidden {
    display: none;
}

.manage-option-col {
    display: flex;
    justify-content:flex-end;
}

.entity-type-col {
    width: 20%;
}

.entity-field-name-col {
    width: 20%;
}

.entity-field-value-col {
    width: 45%;
}

.entity-actions-col {
    width: 15%;
}

.rule-container {
    background-color: #e9f5f9;
}