{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Check if logged in user has an active subscription and if not redirct to subsctiption form-->
    <!--{% if not user_has_subscription and not request.path in subscription_exempt_paths %}
      <meta http-equiv="Refresh" content="0;/subscription/">
    {% elif user_has_subscription and request.path in subscription_exempt_paths %}
      <meta http-equiv="Refresh" content="0;/dashboard/">
    {% endif %}-->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/config.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://kit.fontawesome.com/a9e2e6347a.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
        <script src="{% static 'js/view_consts.js' %}"></script>
    {% endblock %}
    
    <title>Contractor Tax Calculator - Configure Rules</title>
    </head>
    <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Tax</strong> Calculator</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Select Jurisdiction
                </button>
                <div id="jurisdictions-dropdown" class="dropdown-menu">
                </div>
            </div>
            <nav>
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-forms-tab" data-toggle="tab" data-target="#nav-forms"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Manage Forms
                    </button>
                    <button class="nav-link" id="nav-rules-tab" data-toggle="tab" data-target="#nav-rules"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Manage Rules
                    </button>
                </div>
            </nav>
            </div>
        </div>
    </header>

    <!-- Question type dialog -->
    <div class="modal fade" id="question-type-modal" tabindex="-1" aria-labelledby="question-type-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="question-type-modal-label">Select Question Type</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" id="question-type-modal-input-label">
                            Which type of question should be created?
                        </div>
                        <div class="col">
                            <select class="custom-select" id="question-type-modal-input">
                                <option value="boolean">Boolean</option>
                                <option value="numeric">Numeric</option>
                                <option value="multiple_choice">Multiple choice</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End question type dialog -->

    <!-- Boolean question dialog -->
    <div class="modal fade" id="boolean-question-modal" tabindex="-1" aria-labelledby="boolean-question-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="boolean-question-modal-label">Create Boolean Question</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" id="boolean-question-modal-question-text-label">
                            Question text
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="boolean-question-modal-question-text-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="boolean-question-modal-explainer-label">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="boolean-question-modal-explainer-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="boolean-question-modal-variable-name-label">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="boolean-question-modal-variable-name-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="boolean-question-modal-mandatory-label">
                            Mandatory?
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="boolean-question-modal-mandatory-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End boolean question dialog -->

    <!-- Numeric question dialog -->
    <div class="modal fade" id="numeric-question-modal" tabindex="-1" aria-labelledby="numeric-question-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="numeric-question-modal-label">Create Numeric Question</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" id="numeric-question-modal-question-text-label">
                            Question text
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="numeric-question-modal-question-text-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-explainer-label">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="numeric-question-modal-explainer-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-variable-name-label">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="numeric-question-modal-variable-name-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-mandatory-label">
                            Mandatory?
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="numeric-question-modal-mandatory-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-is-integer-label">
                            Integer (non-decimal)?
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="numeric-question-modal-is-integer-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-min-label">
                            <p>Minimum value</p>
                            <p>Leave blank if none</p>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="numeric-question-modal-min-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="numeric-question-modal-max-label">
                            <p>Maximum value</p>
                            <p>Leave blank if none</p>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="numeric-question-modal-max-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End numeric question dialog -->

    <!-- Multiple choice question dialog -->
    <div class="modal fade" id="multichoice-question-modal" tabindex="-1" aria-labelledby="multichoice-question-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="multichoice-question-modal-label">Create Multiple Choice Question</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-question-text-label">
                            Question text
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="multichoice-question-modal-question-text-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-explainer-label">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="multichoice-question-modal-explainer-input" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-variable-name-label">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="multichoice-question-modal-variable-name-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-mandatory-label">
                            Mandatory?
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="multichoice-question-modal-mandatory-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-multiselect-label">
                            Allow multiselect?
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="multichoice-question-modal-multiselect-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="multichoice-question-modal-options-label">
                            Options
                        </div>
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <i class="fas fa-plus"></i> Option
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table" id="multichoice-question-modal-options-table">
                                            <tr id="multichoice-question-modal-options-row">
                                                <td id="multichoice-question-modal-options-text">Option text</td>
                                                <td><i class="fas fa-trash-alt"></i></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End multiple choice question dialog -->

    <!-- Ruleset modal -->
    <div class="modal fade" id="rulesetModal" tabindex="-1" aria-labelledby="rulesetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="rulesetModalLabel">Create Ruleset</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Tax Category
                        </div>
                        <div class="col">
                            <select class="custom-select">
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End ruleset modal -->

    <!-- Rule type modal -->
    <div class="modal fade" id="ruleTypeModal" tabindex="-1" aria-labelledby="ruleTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ruleTypeModalLabel">Select Rule Type</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Which type of rule should be created?
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="flat_rate">Flat Rate</option>
                                <option value="tiered_rate">Tiered Rate</option>
                                <option value="secondary_tiered_rate">Secondary Tiered Rate</option>
                              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End rule type modal -->

    <!-- Flat rate rule dialog -->
    <div class="modal fade" id="flatRateRuleModal" tabindex="-1" aria-labelledby="flatRateRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Flat Rate Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Tax Rate
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End flat rate rule dialog -->

    <!-- Tiered rate rule dialog -->
    <div class="modal fade" id="tieredRateRuleModal" tabindex="-1" aria-labelledby="tieredRateRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Tiered Rate Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5>
                                            Tiers <i class="fas fa-plus" data-toggle="modal" data-target="#ruleTierModal"></i>
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Lower Limit</th>
                                                    <th scope="col">Upper Limit</th>
                                                    <th scope="col">Tax Rate</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>£10,000.00</td>
                                                    <td>£25,000.00</td>
                                                    <td>8%</td>
                                                    <td>
                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#ruleTierModal"></i>
                                                        <i class="fas fa-trash-alt"></i>
                                                        <i class="fas fa-arrow-up"></i>
                                                        <i class="fas fa-arrow-down"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End tiered rate rule dialog -->

    <!-- Secondary tiered rate rule dialog -->
    <div class="modal fade" id="secondaryTieredRateRuleModal" tabindex="-1" aria-labelledby="secondaryTieredRateRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="secondaryTieredRateRuleModalLabel">Create Secondary Tiered Rate Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Explainer
                        </div>
                        <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Variable Name
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Primary Rule
                        </div>
                        <div class="col">
                            <select class="custom-select">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5>
                                            Tiers <i class="fas fa-plus" data-toggle="modal" data-target="#secondaryRuleTierModal"></i>
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Lower Limit</th>
                                                    <th scope="col">Upper Limit</th>
                                                    <th scope="col">Tax Rate</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>£10,000.00</td>
                                                    <td>£25,000.00</td>
                                                    <td>8%</td>
                                                    <td>
                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#ruleTierModal"></i>
                                                        <i class="fas fa-trash-alt"></i>
                                                        <i class="fas fa-arrow-up"></i>
                                                        <i class="fas fa-arrow-down"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End secondary tiered rate rule dialog -->

    <!-- Rule tier dialog -->
    <div class="modal fade" id="ruleTierModal" tabindex="-1" aria-labelledby="ruleTierModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ruleTierModalLabel">Create Tier for Tiered Rate Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>Minimum value</p>
                            <p>Leave blank if none</p>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Maximum value</p>
                            <p>Leave blank if none</p>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Tax Rate
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End rule tier dialog -->

    <!-- Secondary rule tier dialog -->
    <div class="modal fade" id="secondaryRuleTierModal" tabindex="-1" aria-labelledby="secondaryRuleTierModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="secondaryRuleTierModalLabel">Create Tier for Secondary Tiered Rate Rule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            Primary Tier
                        </div>
                        <div class="col">
                            <select class="custom-select">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Tax Rate
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End secondary rule tier dialog -->

    <div class="content content-container">
        {% block content %}
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
            
            <div class="tab-content" id="nav-tabContent">
                <!-- Forms config -->
                <div class="tab-pane fade show active" id="nav-forms" role="tabpanel" aria-labelledby="nav-forms-tab">
                    <div class="container">
                        <!-- Form manager options -->
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#question-type-modal">
                                    <i class="fas fa-plus"></i> Question
                                </button>
                            </div>
                        </div>
                        <!-- End form manager options -->
                        <div class="row">
                            <div class="col" id="questionsDisplayContainer">
                                <!-- Boolean question -->
                                <div class="card" id="boolean-question-display-card">
                                    <div class="card-body">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td rowspan="4">
                                                        <i class="fas fa-toggle-on"></i>
                                                        Boolean Question
                                                    </td>
                                                    <td id="boolean-question-display-text">Text</td>
                                                    <td rowspan="4">
                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#boolean-question-modal"></i>
                                                        <i class="fas fa-trash-alt"></i>
                                                        <i class="fas fa-arrow-up"></i>
                                                        <i class="fas fa-arrow-down"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="boolean-question-display-variable-name">Variable Name</td>
                                                </tr>
                                                <tr>
                                                    <td id="boolean-question-display-explainer">Explainer</td>
                                                </tr>
                                                <tr>
                                                    <t id="boolean-question-display-mandatory">Mandatory</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End boolean question -->

                                <!-- Numeric question -->
                                <div class="card" id="numeric-question-display-card">
                                    <div class="card-body">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td rowspan="5">
                                                        <i class="fas fa-chart-pie"></i>
                                                        Numeric Question
                                                    </td>
                                                    <td id="numeric-question-display-text">Text</td>
                                                    <td rowspan="5">
                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#numeric-question-modal"></i>
                                                        <i class="fas fa-trash-alt"></i>
                                                        <i class="fas fa-arrow-up"></i>
                                                        <i class="fas fa-arrow-down"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="numeric-question-display-variable-name">Variable Name</td>
                                                </tr>
                                                <tr>
                                                    <td id="numeric-question-display-explainer">Explainer</td>
                                                </tr>
                                                <tr>
                                                    <td id="numeric-question-display-mandatory">Mandatory</td>
                                                </tr>
                                                <tr>
                                                    <td id="numeric-question-display-validation-rule-summary">Integer between 0 and 100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End numeric question -->

                                <!-- Multiple choice question -->
                                <div class="card" id="multichoice-question-display-card">
                                    <div class="card-body">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td rowspan="5">
                                                        <i class="fas fa-tasks"></i>
                                                        Multiple Choice Question
                                                    </td>
                                                    <td id="multichoice-question-display-text">Text</td>
                                                    <td rowspan="5">
                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#multichoice-question-modal"></i>
                                                        <i class="fas fa-trash-alt"></i>
                                                        <i class="fas fa-arrow-up"></i>
                                                        <i class="fas fa-arrow-down"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="multichoice-question-display-variable-name">Variable Name</td>
                                                </tr>
                                                <tr>
                                                    <td id="multichoice-question-display-explainer">Explainer</td>
                                                </tr>
                                                <tr>
                                                    <td id="multichoice-question-display-mandatory">Mandatory</td>
                                                </tr>
                                                <tr>
                                                    <td id="multichoice-question-display-multiselect">Multiselect</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End multiple choice question -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End forms config -->

                <!-- Rules config -->
                <div class="tab-pane fade" id="nav-rules" role="tabpanel" aria-labelledby="nav-rules-tab">
                    <div class="container">
                        <!-- Rule manager options -->
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rulesetModal">
                                    <i class="fas fa-plus"></i> Ruleset
                                </button>
                            </div>
                        </div>
                        <!-- Rule form manager options -->

                        <div class="row">
                            <div class="col">
                                <!-- Ruleset -->
                                <div class="row">
                                    <div class="col" id="rulesetsDisplayContainer">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <!-- Ruleset details -->
                                                            <td>
                                                                <i class="fas fa-list-ol"></i>
                                                                <p>Ruleset name</p>
                                                                <p>Tax category name</p>
                                                            </td>
                                                            <!-- End ruleset details -->

                                                            <!-- Rules -->
                                                            <td>
                                                                <!-- Flat rate rule -->
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <table class="table table-borderless">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td rowspan="4">
                                                                                        <i class="fas fa-percent"></i>
                                                                                        Flat rate rule
                                                                                    </td>
                                                                                    <td>Name</td>
                                                                                    <td rowspan="4">
                                                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#flatRateRuleModal"></i>
                                                                                        <i class="fas fa-trash-alt"></i>
                                                                                        <i class="fas fa-arrow-up"></i>
                                                                                        <i class="fas fa-arrow-down"></i>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Variable Name</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Explainer</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Flat rate</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- End flat rate rule -->

                                                                <!-- Tiered rate rule -->
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <table class="table table-borderless">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td rowspan="3">
                                                                                        <i class="fas fa-layer-group"></i>
                                                                                        Tiered rate rule
                                                                                    </td>
                                                                                    <td>Name</td>
                                                                                    <td rowspan="3">
                                                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#tieredRateRuleModal"></i>
                                                                                        <i class="fas fa-trash-alt"></i>
                                                                                        <i class="fas fa-arrow-up"></i>
                                                                                        <i class="fas fa-arrow-down"></i>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Variable Name</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Explainer</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- End tiered rate rule -->

                                                                <!-- Secondary tiered rate rule -->
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <table class="table table-borderless">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td rowspan="4">
                                                                                        <i class="fas fa-link"></i>
                                                                                        Secondary tiered rate rule
                                                                                    </td>
                                                                                    <td>Name</td>
                                                                                    <td rowspan="4">
                                                                                        <i class="fas fa-edit" data-toggle="modal" data-target="#secondaryTieredRateRuleModal" ></i>
                                                                                        <i class="fas fa-trash-alt"></i>
                                                                                        <i class="fas fa-arrow-up"></i>
                                                                                        <i class="fas fa-arrow-down"></i>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Variable Name</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Explainer</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Primary rule</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- End secondary tiered rate rule -->
                                                            </td>
                                                            <!-- End rules -->

                                                            <!-- Ruleset actions -->
                                                            <td>
                                                                <i class="fas fa-plus" data-toggle="modal" data-target="#ruleTypeModal"></i>
                                                                <i class="fas fa-edit"></i>
                                                                <i class="fas fa-trash-alt"></i>
                                                                <i class="fas fa-arrow-up"></i>
                                                                <i class="fas fa-arrow-down"></i>
                                                            </td>
                                                            <!-- End ruleset actions -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End ruleset -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End rules config -->
            </div>
        {% endblock %}
    </div>
  </body>
</html>