{% load static %}<!doctype html>
<html lang="en">
  <head>
    <!-- Check if logged in user has an active subscription and if not redirct to subsctiption form-->
    <!--{% if not user_has_subscription and not request.path in subscription_exempt_paths %}
      <meta http-equiv="Refresh" content="0;/subscription/">
    {% elif user_has_subscription and request.path in subscription_exempt_paths %}
      <meta http-equiv="Refresh" content="0;/dashboard/">
    {% endif %}-->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://kit.fontawesome.com/a9e2e6347a.js" crossorigin="anonymous"></script>
        
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
    <title>Contractor Tax Calculator {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Begin page header -->
    <header class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a href="{% url 'index' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0"><strong>Tax</strong> Calculator</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            <nav>
                <ul class="navbar-nav mr-auto list-inline list-unstyled text-center text-lg-right my-0">
                    {% if request.user.is_authenticated %}
                    <!-- Action Links -->
                    <li class="list-inline-item dropdown">
                        <a class="nav-link text-black" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-tasks fa-lg"></i></div>
                                <p class="my-0">My Tasks</p>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'contractor_home' %}">View My Dashboard</a>
                            <a class="dropdown-item" href="{% url 'select_jurisdictions' %}">Create Tax Calculation</a>
                        </div>
                    </li>
                    <!-- End Action Links -->
                    {% endif %}

                    {% if request.user.is_superuser %}
                    <!-- Admin Links -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-tools fa-lg"></i></div>
                                <p class="my-0">Admin</p>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Users, Tax Categories & Jurisdictions</a>
                            <a class="dropdown-item" href="{% url 'config' %}">Questions & Rules</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- End Admin Links -->
                    {% endif %}

                    <!-- Account Links -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- End Account Links -->
                </ul>
            </nav>
        </div>
    </header>
    <!-- End page header -->

    <!-- Begin page content -->
        <div class="container content-container">
            {% if messages %}
                <!-- Begin flashed messages -->
                    <section>
                        <div class="row">
                            <div class="col toast-container top-0 start-50 translate-middle-x">
                                {% for message in messages %}
                                    <div class="toast" data-autohide="false" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                                                <strong class="mr-auto">
                                                    <i class="fas fa-question-circle"></i> Debug Information
                                                </strong>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                                <strong class="mr-auto">
                                                    <i class="fas fa-info-circle"></i> Information
                                                </strong>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                <strong class="mr-auto">
                                                    <i class="fas fa-check-circle"></i> Success
                                                </strong>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                                <strong class="mr-auto">
                                                    <i class="fas fa-exclamation-triangle"></i> Warning
                                                </strong>
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                <strong class="mr-auto">
                                                    <i class="fas fa-exclamation-circle"></i> Error
                                                </strong>
                                            {% endif %}
                                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="toast-body {% if message.tags %}{{ message.tags }}{% endif %}">
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                <!-- End flashed messages -->
            {% endif %}

            {% if error %}
                <!-- Begin error messages -->
                    <section>
                        <div class="row error-header">
                            <div class="col text-center">
                                <h2><i class="fas fa-exclamation-circle"></i> An Error Has Occurred</h2>
                            </div>
                        </div>
                        <div class="row error-content text-center">
                            <div class="col ">
                                {{ error |safe }}
                            </div>
                        </div>
                    </section>
                <!-- End error messages -->
            {% endif %}

            <!-- Begin main content -->
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            <!-- End main content -->
        </div>
    <!-- End page content -->

    {% block toastjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
  </body>
</html>